*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 10px;
}

main {
  width: 80%;
  margin: auto;
  text-align: center;
}

.box {
  position: relative;
  display: inline-block;
  cursor:pointer;
}
.box:nth-child(even) .discount{
  background: red;
}
.box:hover .heart{
 z-index: 1;
}

.discount {
  position: absolute;
  top:0;
  right:0;
  background:green;
}

.heart {
  position: absolute;
  bottom: 0;
  right: 50%;
  padding-bottom: 10px;
  color: red;
  z-index: -1;
}
