*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 10px;
}

.box {
  position: relative;
  display: inline-block;
}

.discount {
  position: absolute;
  top:0;
  right:0;
  background:green;
}

.heart {
  position: absolute;
  bottom: 0;
  right: 50%;
  padding-bottom: 10px;
  color: red;
}

.box:nth-child(even) .discount{
  background: red;
}
